body{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(https://png.pngtree.com/background/20230522/original/pngtree-artwave-of-colorful-waves-wallpaper-4k-picture-image_2688573.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


*{
    margin: 0;
    padding: 0;
}